<!DOCTYPE html>
<!-- resource-name -->
<!-- Ryan Zohoury -->

<!-- Resource created by Ryan Zohoury on Jan 1, 2022. -->
<!-- Copyright © 2022 Ryan Zohoury. All rights reserved. -->

<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
<!-- analytics -->

<!-- metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="revisit-after" content="7 days">
<meta name="robots" content="noindex, nofollow">

<!-- description -->
<title>TITLE</title>
<meta name="description" content="DESCRIPTION">
<meta name="keywords" content="KEYWORDS">
<meta property="og:url" content="PAGEURL">
<meta property="og:site_name" content="TITLE">
<meta property="og:description" content="DESCRIPTION">
<meta property="og:image" content="/static/images/og-logo.png">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RyanZohoury">
<meta name="twitter:creator" content="@RyanZohoury">

<!-- PWA -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="manifest" href="/static/manifest.json">

<!-- styles -->
<link rel="stylesheet" href="https://zohowww.com/static/perimeter/styles/styles.css">

<!-- jQuery -->
<script src="https://zohowww.com/static/third-party/jquery/jquery.min.js" defer></script>

<!-- Perimeter -->
<link rel="stylesheet" href="https://zohowww.com/static/perimeter/styles/perimeter.css">
<script src="https://zohowww.com/static/perimeter/scripts/perimeter.js" defer></script>

<!-- scripts -->

</head>
<body>
<!-- hero/header -->
<header>

</header>

<!-- content -->
<main>
  
</main>

</body>
</html>